h1 {
    font-family: 'Caveat', cursive;
    font-size: 40px;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-decoration-color: hotpink;
}

/* body {
       
    
  }

.bg {
    background-image: url("assets/cloud.jpg"); 
    background-attachment: fixed; 
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
 
     opacity: 0.6; 
} */
