h1 {
  font-family: 'IM Fell French Canon SC', serif;
    margin-bottom: 0 !important;
    /* font-size: 40px; */
    /* text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: hotpink; */
}

h3 {
  font-family: 'IM Fell French Canon SC', serif;
}

.nav-link {
  font-family: 'IM Fell French Canon SC', serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aliceblue;
  font-family: 'IM Fell French Canon SC', serif;
    
  }

/* .bg {
    background-image: url("assets/cloud.jpg"); 
    background-attachment: fixed; 
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
 text-shadow: 2px 2px 3px #f55eb1;
     opacity: 0.6; 
}  */
