h1 {
  font-family: 'IM Fell French Canon SC', serif;
    margin-bottom: 0 !important;
    /* font-size: 40px; */
    /* text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: hotpink; */
}

h3 {
  font-family: 'IM Fell French Canon SC', serif;
}

.nav-link {
  font-family: 'IM Fell French Canon SC', serif;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: aliceblue;
  font-family: 'IM Fell French Canon SC', serif;
    
  }

.home {
  text-align: center;
  margin: 50px 150px;
}

.services {
  text-align: center;
  margin: 100px;
}

.how {
  text-align: center;
  margin: 100px;
}

.about {
  text-align: center;
  margin: 100px;
}

